<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input id="position" type="text" placeholder="position"/><br>
    <input id="played" type="text" placeholder="played"/><br>
    <input id="goal_for" type="text" placeholder="goal_for"/><br>
    <input id="shot" type="text" placeholder="shot"/><br>
    <input id="assist" type="text" placeholder="assist"/><br>
    <input id="pass" type="text" placeholder="pass"/><br>
    <input id="key_pass" type="text" placeholder="key_pass"/><br>
    <input id="dribble" type="text" placeholder="dribble"/><br>
    <input id="yellow_card" type="text" placeholder="yellow_card"/><br>
    <input id="red_card" type="text" placeholder="red_card"/><br>
    <input id="tackle" type="text" placeholder="tackle"/><br>
    <input id="foul" type="text" placeholder="foul"/><br>
    <input id="clear" type="text" placeholder="clear"/><br>
    <input id="rating" type="text" placeholder="rating"/><br>
    <button>선수 경기 성적 생성</button>
    <script src="/js/playergs/add.js" defer></script>
</body>
</html>