<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input id="opponent" type="text" placeholder="opponent"/><br>
    <input id="tournament" type="text" placeholder="tournament"/><br>
    <input id="date" type="text" placeholder="date, xxxx-xx-xx"/><br>
    <input id="result" type="text" placeholder="result, only 승 or 무 or 패"/><br>
    <input id="goal_for" type="text" placeholder="goal_for"/><br>
    <input id="goal_against" type="text" placeholder="goal_against"/><br>
    <input id="shot" type="text" placeholder="shot"/><br>
    <input id="possession" type="text" placeholder="possession"/><br>
    <input id="pass" type="text" placeholder="pass"/><br>
    <input id="key_pass" type="text" placeholder="key_pass"/><br>
    <input id="dribble" type="text" placeholder="dribble"/><br>
    <input id="tackle" type="text" placeholder="tackle"/><br>
    <input id="clear" type="text" placeholder="clear"/><br>
    <input id="block" type="text" placeholder="block"/><br>
    <input id="rating" type="text" placeholder="rating"/><br>
    <button>팀 경기 성적 생성</button>
    <script src="/js/teamgs/add.js" defer></script>
</body>
</html>