<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input id="name" type="text" placeholder="name"/><br>
    <input id="league" type="text" placeholder="league"/><br>
    <input id="stadium" type="text" placeholder="stadium"/><br>
    <button>팀 생성</button>
    <script src="/js/team/add.js" defer></script>
</body>
</html>