<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <textarea id="content" max="75" placeholder="content" rows="5" cols="60"></textarea><br>
    <input id="password" type="text" placeholder="password"/><br>
    <button>댓글 생성</button>
    <script src="/js/comment/add.js" defer></script>
</body>
</html>